*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}
