@import "teletext";

img.grid-icon.chapel {
    grid-column-start: 1;
    grid-column-end: 3;
    aspect-ratio: 2 / 1;
}

img.grid-icon.noface {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    aspect-ratio: 1 / 2;
}

img.grid-icon.jackson {
    grid-column-start: 1;
    grid-column-end: 3;
    aspect-ratio: 2 / 1;
}

img.grid-icon.detective {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    aspect-ratio: 2 / 1;
}

.fit {
    object-fit: cover;
}
