@import "teletext";

.sport {
    position: relative;

    a {
        position: relative;
        top: 0;
        left: 0;
    }

    button {
        position: absolute;
        left: 2.5rem;
        bottom: 6.5rem;
        border-radius: 10px;
        opacity: 0%;
        height: 2rem;
        width: 2rem;
    }
}

.hide {
    display: none !important;
    visibility: hidden;
}

.story {
    container-type: inline-size;
    container-name: story;
}

@container story (max-width: 24000px ) {
    h3 {
        font-size: 7.5cqw;
    }
    p {
        font-size: 5cqw;
    }
}
