@import "teletext";

.sport {
    .conversation {
        display: flex;
        flex-direction: column;

        .message {
            font-size: 75%;
            max-width: 65%;
            word-wrap: break-word;
            border-radius: 5px;
            padding: 0.1rem;
            margin-bottom: 1rem;
            width: fit-content;

            &.user {
                margin-right: 0.5rem;
                margin-left: auto;
                text-align: right;
                background-color: dodgerblue;
            }

            &.other {
                margin-left: 0.5rem;
                background-color: grey;
            }
        }

        .prompt {
            text-align: center;
            color: yellow;
        }

        .hide {
            display: none;
        }
    }
    .submission-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $teletext-secondary;
        font-size: 75%;
        color: yellow;
        margin-top: 1rem;
    }
}
