@font-face {
    font-family: "teletactileRegular";
    src: url("Fonts/teletactile-webfont.woff") format("woff"),
        url("Fonts/teletactile-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "teletextOne";
    src: url("Fonts/teletext_1-webfont.woff") format("woff"),
        url("Fonts/teletext_1-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

$teletext-primary: "teletextOne";
$teletext-secondary: "teletactileRegular";

body {
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    font-family: "teletextOne";
}
h1 {
    color: black;
    background-color: white;
    font-size: 500%;
}
h2 {
    color: fuchsia;
    font-size: 250%;
}
h3 {
    color: yellow;
    font-size: 125%;
}
